openapi: 3.1.0
info:
  title: BeeOS OpenAPI (user contract)
  version: 1.0.0
  description: |
    The **BeeOS OpenAPI** user contract. The sole implementer is
    **[`services/openapi-gateway`](../services/openapi-gateway)** (`openapi-gw`,
    local `:8095`). SDKs (Go / TypeScript) published under
    [`sdks/beeos-ai-sdk-go`](../../sdks/beeos-ai-sdk-go) and
    [`sdks/beeos-ai-sdk`](../../sdks/beeos-ai-sdk) are generated directly from
    this document.

    The main user Gateway (`services/gateway`, `:9080`) serves web / mobile /
    desktop clients and is **not** described by this document. It maintains its
    own route set independent of the SDK contract.

    **Auth:** every operation requires either a user **JWT** or a **`oag_`**
    User API Key, both on `Authorization: Bearer`. Agent-level endpoints
    (A2A JSON-RPC with `bak_`, MCP) live in
    [beeos-agent-integration-v1.yaml](beeos-agent-integration-v1.yaml) and are
    hosted by A2A Gateway / MCP Gateway — not by `openapi-gateway`.
servers:
  - url: https://openapi.beeos.ai
    description: Production
  - url: https://openapi-staging.beeos.ai
    description: Staging
  - url: http://localhost:8095
    description: Local dev (goreman)
tags:
  - name: deploy
    description: Provider / region / model catalog.
  - name: instances
    description: Agent instance lifecycle (deploy, start, stop, restart, destroy).
  - name: a2a
    description: Agent-to-Agent JSON-RPC user proxy for agents you own.
security:
  - bearerAuth: []
paths:
  # ---------------------------------------------------------------------
  # Catalog
  # ---------------------------------------------------------------------
  /api/v1/providers:
    get:
      operationId: listProviders
      tags: [deploy]
      summary: List available providers (catalog)
      responses:
        "200":
          description: Standard `{ success, data }` envelope; `data` is a list of provider catalog items.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersListResponse'
  /api/v1/deploy/regions:
    get:
      operationId: listDeployRegions
      tags: [deploy]
      summary: List deploy regions
      parameters:
        - name: providerId
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Standard envelope; `data` is a list of deploy regions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployRegionsListResponse'
  /api/v1/deploy/models:
    get:
      operationId: listDeployModels
      tags: [deploy]
      summary: List deploy models
      parameters:
        - name: agentFramework
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Standard envelope; `data` is a list of deploy model options.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployModelsListResponse'

  # ---------------------------------------------------------------------
  # Instances
  # ---------------------------------------------------------------------
  /api/v1/instances:
    get:
      operationId: listInstances
      tags: [instances]
      summary: List the caller's instances
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 0 }
        - name: pageSize
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 0, maximum: 200 }
        - name: status
          in: query
          required: false
          schema: { type: string }
        - name: providerId
          in: query
          required: false
          schema: { type: string }
        - name: agentFramework
          in: query
          required: false
          schema: { type: string }
        - name: clusterId
          in: query
          required: false
          schema: { type: string }
        - name: search
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Paginated list of instances (`{ success, data, total }`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstancePageResponse'
    post:
      operationId: deployInstance
      tags: [instances]
      summary: Deploy a new instance (catalog-driven via `variantId` or explicit).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployInstanceRequest'
      responses:
        "201":
          description: Standard envelope; `data` is the created instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'

  /api/v1/instances/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getInstance
      tags: [instances]
      summary: Get an instance by id
      responses:
        "200":
          description: Standard envelope; `data` is the instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
    delete:
      operationId: destroyInstance
      tags: [instances]
      summary: Destroy (terminate) an instance
      responses:
        "200":
          description: Standard envelope; `data` is the literal `"destroyed"`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'

  /api/v1/instances/{id}/start:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: startInstance
      tags: [instances]
      summary: Start an instance
      responses:
        "200":
          description: Standard envelope; `data` is the instance after the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
  /api/v1/instances/{id}/stop:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: stopInstance
      tags: [instances]
      summary: Stop an instance
      responses:
        "200":
          description: Standard envelope; `data` is the instance after the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
  /api/v1/instances/{id}/restart:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: restartInstance
      tags: [instances]
      summary: Restart an instance
      responses:
        "200":
          description: Standard envelope; `data` is the instance after the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'

  # ---------------------------------------------------------------------
  # A2A JSON-RPC user proxy
  # ---------------------------------------------------------------------
  /api/v1/a2a/{agentId}/jsonrpc:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: a2aJsonRpcForUser
      tags: [a2a]
      summary: A2A v1.0 JSON-RPC user proxy for agents you own.
      description: |
        Proxies standard A2A v1.0 JSON-RPC methods (`SendMessage`, `GetTask`,
        `CancelTask`, `ListTasks`) plus BeeOS extensions (`tasks/complete`,
        `tasks/updateStatus`) to the internal A2A service.

        External callers using the **Agent API Key** must use the dedicated
        A2A Gateway (`a2a.beeos.ai`) instead — see
        [beeos-agent-integration-v1.yaml](beeos-agent-integration-v1.yaml).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A2AJSONRPCRequest'
      responses:
        "200":
          description: A2A JSON-RPC response envelope (always HTTP 200; errors are encoded inside the body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A2AJSONRPCResponse'
  /api/v1/a2a/{agentId}:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: a2aJsonRpcForUserAlias
      tags: [a2a]
      summary: Alias of `/api/v1/a2a/{agentId}/jsonrpc` (same contract).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/A2AJSONRPCRequest'
      responses:
        "200":
          description: A2A JSON-RPC response envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A2AJSONRPCResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Pass a user **JWT** or a **`oag_`** User API Key on the
        `Authorization: Bearer <token>` header. Both are validated by
        `openapi-gateway` against the Auth service.
  schemas:
    # -------- Envelope helpers --------
    SuccessEnvelope:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    StringResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: string

    # -------- Catalog --------
    ProviderMeta:
      type: object
      required: [id, name, description, version]
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        version: { type: string }
    ProviderCapabilities:
      type: object
      properties:
        longRunning: { type: boolean }
        browserUse: { type: boolean }
        codeExec: { type: boolean }
        fileSystem: { type: boolean }
        customImage: { type: boolean }
        maxDurationSec: { type: integer, format: int32 }
        costModel: { type: string }
        device: { type: boolean }
    ProviderCatalogItem:
      type: object
      required: [meta, capabilities]
      properties:
        meta:
          $ref: '#/components/schemas/ProviderMeta'
        capabilities:
          $ref: '#/components/schemas/ProviderCapabilities'
    ProvidersListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/ProviderCatalogItem'
    DeployRegionItem:
      type: object
      required: [id, name, available]
      properties:
        id: { type: string }
        name: { type: string }
        available: { type: boolean }
    DeployRegionsListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/DeployRegionItem'
    DeployModelItem:
      type: object
      required: [id, name, tier, reasoning]
      properties:
        id: { type: string }
        name: { type: string }
        tier: { type: string }
        reasoning: { type: boolean }
    DeployModelsListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/DeployModelItem'

    # -------- Instance --------
    InstanceDataDTO:
      type: object
      required:
        - id
        - ownerId
        - agentFramework
        - providerId
        - externalId
        - osType
        - hostingType
        - cloudProvider
        - name
        - modelPrimary
        - models
        - status
        - desiredStatus
        - endpoint
        - bridgeId
        - identityId
        - totalRunSeconds
        - connectivity
        - providerConfig
      properties:
        id: { type: string }
        ownerId: { type: string }
        agentFramework: { type: string }
        providerId: { type: string }
        externalId: { type: string }
        osType: { type: string }
        hostingType: { type: string }
        cloudProvider: { type: string }
        name: { type: string }
        modelPrimary: { type: string }
        models:
          type: array
          items: { type: string }
        status:
          type: string
          description: |
            One of `pending` | `provisioning` | `running` | `stopped` |
            `terminated`.
        desiredStatus:
          type: string
          description: |
            One of `running` | `stopped` | `terminated`.
        endpoint: { type: string }
        bridgeId: { type: string }
        identityId: { type: string }
        totalRunSeconds:
          type: integer
          format: int64
        connectivity:
          type: string
          description: One of `unknown` | `online` | `offline`.
        haltReason: { type: string }
        providerConfig:
          description: |
            Sanitized provider config (apiKeys stripped). Raw JSON object.
          type: object
          additionalProperties: true
        publicIp: { type: string }
        clusterId: { type: string }
        region: { type: string }
        imageId: { type: string }
        imageRef: { type: string }
        isTrial: { type: boolean }
        expiresAt: { type: string, format: date-time }
        errorMessage: { type: string }
        systemPrompt: { type: string }
        mcpServers:
          type: object
          additionalProperties: true
        startedAt: { type: string, format: date-time }
        stoppedAt: { type: string, format: date-time }
        statusEnteredAt: { type: string, format: date-time }
        connectivityUpdatedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        screenshotUrl: { type: string }
        screenshotUpdatedAt: { type: string, format: date-time }
    InstanceResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              $ref: '#/components/schemas/InstanceDataDTO'
    InstancePageResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/InstanceDataDTO'
            total:
              type: integer
              format: int64
    DeployInstanceRequest:
      type: object
      required: [name]
      description: |
        Either supply a **catalog** `variantId` (authoritative — lifts
        `agentFramework` / `providerId` / region / scheduling hints from the
        variant) **or** provide an explicit `agentFramework` (+ optional
        `providerId`). Client-supplied scheduling fields (ownershipPreference /
        maxPricePerHour / resourceTypeHint) are **not** accepted here; the
        catalog variant is the source of truth.
      properties:
        variantId:
          type: string
          maxLength: 128
        agentFramework:
          type: string
          maxLength: 64
        providerId:
          type: string
          maxLength: 64
        providerConfig:
          description: |
            Free-form provider-specific configuration merged with the catalog
            config (catalog wins on key conflicts).
          type: object
          additionalProperties: true
        name:
          type: string
          maxLength: 128
        modelPrimary:
          type: string
          maxLength: 128
        models:
          type: array
          items: { type: string, maxLength: 128 }
        systemPrompt:
          type: string
          maxLength: 8192
        mcpServers:
          type: object
          additionalProperties: true
        bridgeId:
          type: string
          maxLength: 128
        config:
          description: |
            Alternate name for `providerConfig`; same semantics. Used by the
            variant-driven path to layer user extras (apiKeys / apiBaseUrls)
            on top of the catalog config.
          type: object
          additionalProperties: true
        clusterId:
          type: string
          maxLength: 128
        preferredRegion:
          type: string
          maxLength: 64

    # -------- A2A JSON-RPC --------
    A2AJSONRPCRequest:
      type: object
      required: [jsonrpc, method]
      properties:
        jsonrpc:
          type: string
          const: "2.0"
        id:
          description: JSON-RPC envelope id; string, number, or null.
          oneOf:
            - { type: string }
            - { type: number }
            - { type: "null" }
        method:
          type: string
          description: |
            Standard A2A v1.0 methods (`SendMessage`, `GetTask`, `CancelTask`,
            `ListTasks`, `SendStreamingMessage`, `SubscribeToTask`,
            `SetPushNotificationConfig`, `GetPushNotificationConfig`,
            `ListPushNotificationConfigs`, `DeletePushNotificationConfig`) or
            BeeOS extensions (`CompleteTask`, `UpdateStatus`). Legacy aliases
            (`message/send`, `tasks/get`, `tasks/cancel`, `tasks/list`,
            `message/stream`, `tasks/resubscribe`, `tasks/complete`,
            `tasks/updateStatus`, `tasks/pushNotification/...`) are also
            accepted.
        params:
          description: Method-specific params object; see A2A v1.0 spec.
          type: object
          additionalProperties: true
    A2AJSONRPCResponse:
      type: object
      required: [jsonrpc, id]
      properties:
        jsonrpc:
          type: string
          const: "2.0"
        id:
          oneOf:
            - { type: string }
            - { type: number }
            - { type: "null" }
        result:
          description: Present on success; method-specific result shape.
          type: object
          additionalProperties: true
        error:
          description: Present on failure. `code`/`message` are the JSON-RPC fields.
          type: object
          required: [code, message]
          properties:
            code: { type: integer, format: int32 }
            message: { type: string }
            data:
              type: object
              additionalProperties: true
