openapi: 3.1.0
info:
  title: BeeOS 平台 API
  version: 1.0.0
  description: |
    **BeeOS 平台 API**，用于管理智能体实例和调用智能体。
    SDK 支持 [TypeScript](https://www.npmjs.com/package/@beeos-ai/sdk)
    和 [Go](https://github.com/beeos-ai/sdk-go)。

    **认证：**所有操作均需携带用户 **JWT** 或 **`oag_`** 用户 API Key，
    通过 `Authorization: Bearer` 传递。
servers:
  - url: https://openapi.beeos.ai
    description: 生产环境
tags:
  - name: deploy
    description: Provider / 区域 / 模型目录。
  - name: instances
    description: 智能体实例生命周期（部署、启动、停止、重启、销毁）。
  - name: agents
    description: 智能体列表、详情和调用。
security:
  - bearerAuth: []
paths:
  # ---------------------------------------------------------------------
  # 目录
  # ---------------------------------------------------------------------
  /api/v1/providers:
    get:
      operationId: listProviders
      tags: [deploy]
      summary: 列出可用 Provider（目录）
      responses:
        "200":
          description: 标准 `{ success, data }` 信封；`data` 为 Provider 目录项列表。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersListResponse'
  /api/v1/deploy/regions:
    get:
      operationId: listDeployRegions
      tags: [deploy]
      summary: 列出部署区域
      parameters:
        - name: providerId
          in: query
          required: false
          schema: { type: string }
          description: 按 Provider ID 过滤。
      responses:
        "200":
          description: 标准信封；`data` 为部署区域列表。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployRegionsListResponse'
  /api/v1/deploy/models:
    get:
      operationId: listDeployModels
      tags: [deploy]
      summary: 列出部署模型
      parameters:
        - name: agentFramework
          in: query
          required: false
          schema: { type: string }
          description: 按智能体框架过滤。
      responses:
        "200":
          description: 标准信封；`data` 为部署模型选项列表。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployModelsListResponse'

  # ---------------------------------------------------------------------
  # 实例
  # ---------------------------------------------------------------------
  /api/v1/instances:
    get:
      operationId: listInstances
      tags: [instances]
      summary: 列出调用者的实例
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 0 }
          description: 页码（从 0 开始）。
        - name: pageSize
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 0, maximum: 200 }
          description: 每页数量。
        - name: status
          in: query
          required: false
          schema: { type: string }
          description: 按状态过滤。
        - name: providerId
          in: query
          required: false
          schema: { type: string }
          description: 按 Provider ID 过滤。
        - name: agentFramework
          in: query
          required: false
          schema: { type: string }
          description: 按智能体框架过滤。
        - name: clusterId
          in: query
          required: false
          schema: { type: string }
          description: 按集群 ID 过滤。
        - name: search
          in: query
          required: false
          schema: { type: string }
          description: 搜索关键词。
      responses:
        "200":
          description: 分页实例列表（`{ success, data, total }`）。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstancePageResponse'
    post:
      operationId: deployInstance
      tags: [instances]
      summary: 部署新实例（通过 `variantId` 目录驱动或显式指定）。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployInstanceRequest'
      responses:
        "201":
          description: 标准信封；`data` 为创建的实例。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'

  /api/v1/instances/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getInstance
      tags: [instances]
      summary: 根据 ID 获取实例
      responses:
        "200":
          description: 标准信封；`data` 为实例详情。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
    delete:
      operationId: destroyInstance
      tags: [instances]
      summary: 销毁（终止）实例
      responses:
        "200":
          description: 标准信封；`data` 为字符串 `"destroyed"`。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'

  /api/v1/instances/{id}/start:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: startInstance
      tags: [instances]
      summary: 启动实例
      responses:
        "200":
          description: 标准信封；`data` 为操作后的实例。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
  /api/v1/instances/{id}/stop:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: stopInstance
      tags: [instances]
      summary: 停止实例
      responses:
        "200":
          description: 标准信封；`data` 为操作后的实例。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
  /api/v1/instances/{id}/restart:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: restartInstance
      tags: [instances]
      summary: 重启实例
      responses:
        "200":
          description: 标准信封；`data` 为操作后的实例。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'

  # ---------------------------------------------------------------------
  # 智能体
  # ---------------------------------------------------------------------
  /api/v1/agents:
    get:
      operationId: listAgents
      tags: [agents]
      summary: 列出调用者拥有的智能体。
      parameters:
        - name: instance_id
          in: query
          required: false
          schema: { type: string, maxLength: 128 }
          description: 按实例 ID 过滤智能体。
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int32, default: 20 }
          description: 最大返回数量。
        - name: offset
          in: query
          required: false
          schema: { type: integer, format: int32, default: 0 }
          description: 分页偏移量。
      responses:
        "200":
          description: 分页智能体列表。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'

  /api/v1/agents/{agentId}:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getAgent
      tags: [agents]
      summary: 根据 ID 获取智能体详情。
      responses:
        "200":
          description: 智能体详情。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'

  /api/v1/agents/{agentId}/invoke:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: invokeAgent
      tags: [agents]
      summary: 向智能体发送消息并接收回复。
      description: |
        向指定智能体发送消息，阻塞等待智能体回复（或超时）。

        获取流式响应请设置 `Accept: text/event-stream` — 响应体将是
        Server-Sent Events，包含 `delta` 和 `done` 事件类型。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeAgentRequest'
      responses:
        "200":
          description: |
            阻塞模式：JSON 信封包含智能体回复。
            流式模式（`Accept: text/event-stream`）：SSE 流。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvokeAgentResponse'
            text/event-stream:
              schema:
                type: string
                description: 包含 `delta` 和 `done` 事件的 SSE 流。

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        通过 `Authorization: Bearer <token>` 头传递用户 **JWT** 或 **`oag_`**
        用户 API Key。
  schemas:
    # -------- 信封辅助 --------
    SuccessEnvelope:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          const: true
    StringResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: string

    # -------- 目录 --------
    ProviderMeta:
      type: object
      required: [id, name, description, version]
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        version: { type: string }
    ProviderCapabilities:
      type: object
      properties:
        longRunning: { type: boolean }
        browserUse: { type: boolean }
        codeExec: { type: boolean }
        fileSystem: { type: boolean }
        customImage: { type: boolean }
        maxDurationSec: { type: integer, format: int32 }
        costModel: { type: string }
        device: { type: boolean }
    ProviderCatalogItem:
      type: object
      required: [meta, capabilities]
      properties:
        meta:
          $ref: '#/components/schemas/ProviderMeta'
        capabilities:
          $ref: '#/components/schemas/ProviderCapabilities'
    ProvidersListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/ProviderCatalogItem'
    DeployRegionItem:
      type: object
      required: [id, name, available]
      properties:
        id: { type: string }
        name: { type: string }
        available: { type: boolean }
    DeployRegionsListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/DeployRegionItem'
    DeployModelItem:
      type: object
      required: [id, name, tier, reasoning]
      properties:
        id: { type: string }
        name: { type: string }
        tier: { type: string }
        reasoning: { type: boolean }
    DeployModelsListResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/DeployModelItem'

    # -------- 实例 --------
    InstanceDataDTO:
      type: object
      required:
        - id
        - ownerId
        - agentFramework
        - providerId
        - externalId
        - osType
        - hostingType
        - cloudProvider
        - name
        - modelPrimary
        - models
        - status
        - desiredStatus
        - endpoint
        - bridgeId
        - identityId
        - totalRunSeconds
        - connectivity
        - providerConfig
      properties:
        id: { type: string }
        ownerId: { type: string }
        agentFramework: { type: string }
        providerId: { type: string }
        externalId: { type: string }
        osType: { type: string }
        hostingType: { type: string }
        cloudProvider: { type: string }
        name: { type: string }
        modelPrimary: { type: string }
        models:
          type: array
          items: { type: string }
        status:
          type: string
          description: |
            取值为 `pending` | `provisioning` | `running` | `stopped` |
            `terminated` 之一。
        desiredStatus:
          type: string
          description: |
            取值为 `running` | `stopped` | `terminated` 之一。
        endpoint: { type: string }
        bridgeId: { type: string }
        identityId: { type: string }
        totalRunSeconds:
          type: integer
          format: int64
        connectivity:
          type: string
          description: 取值为 `unknown` | `online` | `offline` 之一。
        haltReason: { type: string }
        providerConfig:
          description: |
            经过脱敏的 Provider 配置（apiKeys 已移除）。原始 JSON 对象。
          type: object
          additionalProperties: true
        publicIp: { type: string }
        clusterId: { type: string }
        region: { type: string }
        imageId: { type: string }
        imageRef: { type: string }
        isTrial: { type: boolean }
        expiresAt: { type: string, format: date-time }
        errorMessage: { type: string }
        systemPrompt: { type: string }
        mcpServers:
          type: object
          additionalProperties: true
        startedAt: { type: string, format: date-time }
        stoppedAt: { type: string, format: date-time }
        statusEnteredAt: { type: string, format: date-time }
        connectivityUpdatedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        screenshotUrl: { type: string }
        screenshotUpdatedAt: { type: string, format: date-time }
    InstanceResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              $ref: '#/components/schemas/InstanceDataDTO'
    InstancePageResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/InstanceDataDTO'
            total:
              type: integer
              format: int64
    DeployInstanceRequest:
      type: object
      required: [name]
      description: |
        可以提供 **目录** `variantId`（权威来源 — 从 variant 获取
        `agentFramework` / `providerId` / 区域 / 调度策略），**或者**
        显式指定 `agentFramework`（+ 可选的 `providerId`）。
        客户端提供的调度字段（ownershipPreference / maxPricePerHour /
        resourceTypeHint）**不在此处**接受；目录 variant 是唯一来源。
      properties:
        variantId:
          type: string
          maxLength: 128
          description: 目录 variant ID。
        agentFramework:
          type: string
          maxLength: 64
          description: 智能体框架。
        providerId:
          type: string
          maxLength: 64
          description: Provider ID。
        providerConfig:
          description: |
            自由格式的 Provider 特定配置，与目录配置合并
            （冲突时目录优先）。
          type: object
          additionalProperties: true
        name:
          type: string
          maxLength: 128
          description: 实例名称。
        modelPrimary:
          type: string
          maxLength: 128
          description: 主模型 ID。
        models:
          type: array
          items: { type: string, maxLength: 128 }
          description: 可选的附加模型列表。
        systemPrompt:
          type: string
          maxLength: 8192
          description: 系统提示词。
        mcpServers:
          type: object
          additionalProperties: true
          description: MCP 服务器配置。
        bridgeId:
          type: string
          maxLength: 128
          description: 指定的 Bridge ID。
        config:
          description: |
            `providerConfig` 的替代名称；语义相同。
          type: object
          additionalProperties: true
        clusterId:
          type: string
          maxLength: 128
          description: 指定的集群 ID。
        preferredRegion:
          type: string
          maxLength: 64
          description: 首选区域。

    # -------- 智能体 --------
    AgentDTO:
      type: object
      required: [id, instanceId, name, status, visibility, mcpEnabled]
      properties:
        id:
          type: string
          description: 智能体 ID。
        instanceId:
          type: string
          description: 所属实例 ID。
        name:
          type: string
          description: 智能体名称。
        description:
          type: string
          description: 智能体描述。
        displayName:
          type: string
          description: 显示名称。
        status:
          type: string
          description: 智能体状态。
        slug:
          type: string
          description: URL 友好标识符。
        mcpEnabled:
          type: boolean
          description: 是否启用 MCP。
        visibility:
          type: string
          enum: [private, public, marketplace, unlisted]
          description: 可见性。
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AgentListResponse:
      type: object
      required: [success, data, total]
      properties:
        success: { type: boolean, const: true }
        data:
          type: array
          items:
            $ref: '#/components/schemas/AgentDTO'
        total: { type: integer, format: int64 }
    AgentResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              $ref: '#/components/schemas/AgentDTO'
    InvokeAgentRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
          description: 发送给智能体的消息。
        context_id:
          type: string
          description: 可选的会话上下文 ID，用于多轮对话。
        timeout_ms:
          type: integer
          format: int64
          description: 超时时间（毫秒），默认 120000。
    InvokeAgentResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessEnvelope'
        - type: object
          required: [data]
          properties:
            data:
              type: object
              required: [text, context_id, is_error]
              properties:
                text:
                  type: string
                  description: 智能体回复文本。
                context_id:
                  type: string
                  description: 会话上下文 ID，用于多轮对话。
                is_error:
                  type: boolean
                  description: 智能体回复是否为错误。
