openapi: 3.1.0
info:
  title: BeeOS OpenAPI (user contract)
  version: 1.1.0
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  description: |
    The **BeeOS OpenAPI** user contract. The sole implementer is
    **[`services/openapi-gateway`](../services/openapi-gateway)** (`openapi-gw`,
    local `:8095`). SDKs (Go / TypeScript) published under
    [`sdks/beeos-ai-sdk-go`](../../sdks/beeos-ai-sdk-go) and
    [`sdks/beeos-ai-sdk`](../../sdks/beeos-ai-sdk) are generated directly from
    this document.

    The main user Gateway (`services/gateway`, `:9080`) serves web / mobile /
    desktop clients and is **not** described by this document. It maintains its
    own route set independent of the SDK contract.

    **Auth:** every operation requires either a user **JWT** or a **`oag_`**
    User API Key, both on `Authorization: Bearer`. Agent-level protocol
    endpoints (A2A JSON-RPC with `bak_`, MCP) live in
    [beeos-agent-integration-v1.yaml](beeos-agent-integration-v1.yaml) and are
    hosted by A2A Gateway / MCP Gateway — not by `openapi-gateway`.

    ## Changelog

    ### 1.1.0 (ADR-0022 — dual-layer message storage)

    BREAKING for clients that depended on full streaming chunk replay
    via the persistent message log:

    * `GET /api/v1/agents/{agentId}/conversations/{convId}/messages`
      and `GET /api/v1/agents/{agentId}/tasks/{taskId}/messages` now
      **default-filter out** ephemeral streaming chunks
      (`agent_reply_delta`, `agent_thought_chunk`,
      `agent_message_chunk`). Add `?include_deltas=true` to opt back in.
    * `latest_offset` continues to reflect the TRUE server-side max
      offset across both filtered and unfiltered rows, so `since=` /
      cursor-style pagination is unaffected.
    * SSE `/events` is **NOT** affected — live consumers continue to
      receive every envelope as it happens.
    * Backwards-compatible recovery path: SSE `/events` may now emit
      a `backfill_truncated` event frame when the client reconnects
      with `Last-Event-ID` before the oldest retained chunk. SDKs
      that don't recognise the frame should treat it as a hint to
      resume from `oldest_redis_offset` instead (the field carrying
      the smallest offset still readable on the per-channel stream).
    * **Clarified contract**: SSE event `offset` is strictly monotonic
      per channel but **NOT guaranteed contiguous** (ADR-0022 §1.2).
      Producer-side write failures may leave small holes; clients MUST
      use `offset > since`, never `offset == since + 1`.

    BREAKING for clients that depended on the `oag_` API key scope
    vocabulary:

    * The per-route scope gate (`agents:read`, `agents:write`,
      `tasks:read`, `tasks:write`, `files:read`, `files:write`,
      `instances:read`, `instances:write`, plus the `admin:*` wildcard)
      has been **removed entirely**. The 37 routes that previously
      required scopes are now governed exclusively by owner-ACL — an
      `oag_` User API Key inherits full access to its owner's resources.
    * The `403 insufficient_scope` error code is no longer emitted.
      Existing callers that branched on it should fold the case into
      their generic 403 / `forbidden` handler.
    * SDK clients that explicitly passed `scopes` to `createAPIKey`
      should drop that argument. The Web / Desktop UIs no longer render
      scope badges on existing keys.
    * Existing `oag_` keys continue to work unchanged — the owner_id
      binding is preserved, and no key needs to be re-issued.

    BREAKING for clients of `GET /api/v1/providers` that read the
    `capabilities` object on the wire:

    * 7 of the 8 `capabilities` field names are now **camelCase**
      (`longRunning`, `browserUse`, `codeExec`, `fileSystem`,
      `customImage`, `maxDurationSec`, `costModel`) — matching this
      OpenAPI contract. Previous wire emitted **snake_case**
      (`long_running`, `browser_use`, …) because the server DTO bound
      `capabilities` to the raw protobuf message
      (`*pb.ProviderCapabilities`) whose auto-generated `json` tags
      use snake_case. SDK consumers (`@beeos-ai/sdk`,
      `github.com/beeos-ai/sdk-go`) generated from this spec were
      **already unable** to read any `capabilities` field — the
      camelCase property names produced by the generator never
      matched the snake_case the server actually sent. Raw HTTP
      callers that hand-coded against the old snake_case names must
      migrate; SDK callers gain access to the field set for the first
      time without code changes.
    * Note: the `device` boolean was always a single word — its wire
      name (`device`) is unchanged. Only the seven multi-word
      capability fields are affected by the rename.
    * `meta`, `id`, `name`, `description`, `version` are unchanged.
    * A new drift-guard (`internal/dto/contract_test.go`) now locks
      the server DTO to the spec property names, so the two cannot
      silently diverge again.

    ### 1.0.0

    Initial OpenAPI contract (ADR-001).
servers:
  - url: https://openapi.beeos.ai
    description: Production
  - url: https://openapi-staging.beeos.ai
    description: Staging
  - url: http://localhost:8095
    description: Local dev (goreman)
tags:
  - name: deploy
    description: Provider / region / model catalog.
  - name: instances
    description: Agent instance lifecycle (deploy, start, stop, restart, destroy).
  - name: computer
    description: |
      Synchronous desktop control (linux / windows / mac instances):
      screenshot, click, move, scroll, type, key. Coordinates are
      absolute device pixels (origin top-left); query
      `GET /instances/{id}/computer` for the live screen geometry and
      supported action set. Android instances are controlled via the
      `mobile` tag instead (calling `computer` on an android instance
      returns 404). Aligns with Anthropic / OpenAI "computer use".
  - name: mobile
    description: |
      Synchronous mobile (android) control: screenshot, tap, swipe,
      scroll, type, key, press_button. Coordinates are absolute device
      pixels. Query `GET /instances/{id}/mobile` for live geometry and
      supported actions. Desktop instances are controlled via the
      `computer` tag (calling `mobile` on a desktop instance returns 404).
  - name: agents
    description: Agent listing, details, and synchronous invocation.
  - name: tasks
    description: |
      Async agent tasks (the canonical task core — see ADR-0017
      `0017-unified-task-core`). `tasks` differs from `agents/invoke` in three
      ways: it returns 202 immediately with a `task_id` (no blocking on the
      reply), exposes a polling endpoint plus an SSE event stream, and supports
      cancel/continue lifecycle controls.
  - name: conversations
    description: |
      Long-lived multi-turn dialogs. Unlike tasks (single-shot, finite, terminal
      status), conversations are open until the caller closes them — messages
      are individually persisted and addressable by offset. Use the conversation
      API when you need to interleave caller and agent turns over an extended
      session; use `tasks` when a single prompt has a bounded reply with optional
      pause-and-resume.
  - name: files
    description: |
      Presigned URLs for caller uploads (`POST /files/presign-upload`) and
      result downloads (`GET /files/presign-download`) — the canonical
      attachment mechanism shared by `agents/{id}/invoke` and
      `agents/{id}/tasks`. Callers obtain a short-lived signed URL, upload the
      bytes directly to object storage (S3 / MinIO), and pass the resulting
      `file_id` in subsequent invoke / task requests via `attachments`.
security:
  - bearerAuth: []
paths:
  # ---------------------------------------------------------------------
  # Catalog
  # ---------------------------------------------------------------------
  /api/v1/providers:
    get:
      operationId: listProviders
      tags: [deploy]
      summary: List available providers (catalog)
      responses:
        "200":
          description: |
            Standard `{ success, data }` envelope; `data` is an array
            of [`ProviderCatalogItem`](#/components/schemas/ProviderCatalogItem)
            entries, each carrying a [`meta`](#/components/schemas/ProviderMeta)
            block (`id`, `name`, `description`, `version`) and a
            [`capabilities`](#/components/schemas/ProviderCapabilities)
            block (camelCase booleans + `maxDurationSec` / `costModel`).
            Mintlify renders the wrapper as `object[]` until you expand
            "Show child attributes" — the items are fully typed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersListResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/deploy/regions:
    get:
      operationId: listDeployRegions
      tags: [deploy]
      summary: List deploy regions
      parameters:
        - name: providerId
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Standard envelope; `data` is a list of deploy regions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployRegionsListResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/deploy/models:
    get:
      operationId: listDeployModels
      tags: [deploy]
      summary: List deploy models
      parameters:
        - name: agentFramework
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Standard envelope; `data` is a list of deploy model options.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeployModelsListResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Instances
  # ---------------------------------------------------------------------
  /api/v1/instances:
    get:
      operationId: listInstances
      tags: [instances]
      summary: List the caller's instances
      parameters:
        - name: page
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 0 }
        - name: pageSize
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 0, maximum: 200 }
        - name: status
          in: query
          required: false
          schema: { type: string }
        - name: providerId
          in: query
          required: false
          schema: { type: string }
        - name: agentFramework
          in: query
          required: false
          schema: { type: string }
        - name: clusterId
          in: query
          required: false
          schema: { type: string }
        - name: search
          in: query
          required: false
          schema: { type: string }
      responses:
        "200":
          description: Paginated list of instances (`{ success, data, total }`).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstancePageResponse'
              examples:
                empty:
                  summary: No instances yet
                  value:
                    success: true
                    data: []
                    total: 0
                single:
                  summary: One running instance
                  value:
                    success: true
                    data:
                      - id: "instance_abc123"
                        ownerId: "user_abc123"
                        agentFramework: "device-agent"
                        name: "my-agent-1"
                        providerId: "openclaw-k8s"
                        externalId: "device_abc123"
                        osType: "android"
                        hostingType: "physical"
                        cloudProvider: "local"
                        modelPrimary: "autoglm-phone"
                        models: ["autoglm-phone"]
                        status: "running"
                        desiredStatus: "running"
                        endpoint: ""
                        bridgeId: "bridge_abc123"
                        identityId: "identity_abc123"
                        totalRunSeconds: 3600
                        connectivity: "online"
                        providerConfig: {}
                        region: "us-east-1"
                        createdAt: "2026-05-14T18:00:00Z"
                    total: 1
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    post:
      operationId: deployInstance
      tags: [instances]
      summary: Deploy a new instance (catalog-driven via `variantId` or explicit).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployInstanceRequest'
      responses:
        "201":
          description: Standard envelope; `data` is the created instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "409": { $ref: '#/components/responses/Conflict' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/instances/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getInstance
      tags: [instances]
      summary: Get an instance by id
      responses:
        "200":
          description: Standard envelope; `data` is the instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    delete:
      operationId: destroyInstance
      tags: [instances]
      summary: Destroy (terminate) an instance
      responses:
        "200":
          description: Standard envelope; `data` is the literal `"destroyed"`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/instances/{id}/start:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: startInstance
      tags: [instances]
      summary: Start an instance
      responses:
        "200":
          description: Standard envelope; `data` is the instance after the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/stop:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: stopInstance
      tags: [instances]
      summary: Stop an instance
      responses:
        "200":
          description: Standard envelope; `data` is the instance after the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/restart:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: restartInstance
      tags: [instances]
      summary: Restart an instance
      responses:
        "200":
          description: Standard envelope; `data` is the instance after the operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstanceResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Computer control (desktop: linux / windows / mac)
  # ---------------------------------------------------------------------
  /api/v1/instances/{id}/computer:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getComputerInfo
      tags: [computer]
      summary: Live desktop control info (geometry + supported actions).
      description: |
        Returns the instance's online status, OS, current screen
        geometry (absolute device pixels), the supported action verbs,
        and the foreground app. Geometry is fetched live so it reflects
        the current display state. Returns 404 if the instance is an
        android device (use the `mobile` endpoints instead).
      responses:
        "200":
          description: Standard envelope; `data` is a `ControlInfo`.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ControlInfo' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/computer/screenshot:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: computerScreenshot
      tags: [computer]
      summary: Capture a desktop screenshot (returns a file reference).
      description: |
        Captures the current screen, stages it in BeeOS file storage,
        and returns a `file_id` plus a short-lived presigned download
        `url` — never inline base64.
      responses:
        "200":
          description: Standard envelope; `data` is a `ScreenshotResult`.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ScreenshotResult' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "504": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/computer/click:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: computerClick
      tags: [computer]
      summary: Mouse click at (x, y).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClickRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/computer/move:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: computerMove
      tags: [computer]
      summary: Move the pointer to (x, y) without clicking.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MoveRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/computer/scroll:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: computerScroll
      tags: [computer]
      summary: Scroll in a cardinal direction.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScrollRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/computer/type:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: computerType
      tags: [computer]
      summary: Type Unicode text into the focused field.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TypeRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/computer/key:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: computerKey
      tags: [computer]
      summary: Press a key (single) or hotkey combo (multiple keys).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/KeyRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Mobile control (android)
  # ---------------------------------------------------------------------
  /api/v1/instances/{id}/mobile:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getMobileInfo
      tags: [mobile]
      summary: Live mobile control info (geometry + supported actions).
      description: |
        Returns the android instance's online status, screen geometry,
        supported actions, and foreground app. Returns 404 if the
        instance is a desktop device (use the `computer` endpoints).

        This is the synchronous **control plane**: `online` + `screen_*`
        reflect the *live* control-channel state at request time. For the
        device's **registration / static** metadata (BYOD device type,
        model, OS, registered geometry, hardware capabilities) — readable
        even when the device is offline — use
        `GET /api/v1/instances/{id}/device/info` (`DeviceInfoDTO`) instead.
      responses:
        "200":
          description: Standard envelope; `data` is a `ControlInfo`.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ControlInfo' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/screenshot:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileScreenshot
      tags: [mobile]
      summary: Capture a mobile screenshot (returns a file reference).
      responses:
        "200":
          description: Standard envelope; `data` is a `ScreenshotResult`.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/ScreenshotResult' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "504": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/tap:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileTap
      tags: [mobile]
      summary: Tap at (x, y).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TapRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/double_tap:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileDoubleTap
      tags: [mobile]
      summary: Double-tap at (x, y).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TapRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/long_press:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileLongPress
      tags: [mobile]
      summary: Long-press at (x, y).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LongPressRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/drag:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileDrag
      tags: [mobile]
      summary: Drag an object from (x1, y1) to (x2, y2).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DragRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/swipe:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileSwipe
      tags: [mobile]
      summary: Swipe from (x1, y1) to (x2, y2).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SwipeRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/scroll:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileScroll
      tags: [mobile]
      summary: Scroll in a cardinal direction.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ScrollRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/type:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileType
      tags: [mobile]
      summary: Type Unicode text into the focused field.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/TypeRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/key:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileKey
      tags: [mobile]
      summary: Press an Android key (KeyCode name).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/KeyRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/press_button:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobilePressButton
      tags: [mobile]
      summary: Press a hardware / navigation button (back / home / ...).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PressButtonRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/open_app:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: mobileOpenApp
      tags: [mobile]
      summary: Open an installed app by package id or display name.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OpenAppRequest' }
      responses:
        "200": { $ref: '#/components/responses/ControlActionOK' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/ui_tree:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: mobileGetUiTree
      tags: [mobile]
      summary: Read the current Android UI hierarchy.
      parameters:
        - name: query
          in: query
          schema: { type: string }
        - name: format
          in: query
          schema: { type: string, enum: [compact, raw], default: compact }
      responses:
        "200":
          description: Standard envelope containing the normalized UI hierarchy.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UITreeResult' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }
  /api/v1/instances/{id}/mobile/apps:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: mobileListApps
      tags: [mobile]
      summary: List installed Android applications.
      parameters:
        - name: include_system
          in: query
          schema: { type: boolean, default: false }
        - name: launchable_only
          in: query
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Standard envelope containing installed apps.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/AppListResult' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Device info (BYOD registration / static device metadata)
  # ---------------------------------------------------------------------
  /api/v1/instances/{id}/device/info:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getDeviceInfo
      tags: [instances]
      summary: BYOD device registration / static metadata.
      description: |
        Returns the **registration / static** device metadata for an
        instance backed by a user-provided device (BYOD), e.g. a phone:
        device type, model, OS + version, the registered screen geometry
        (`width` / `height` / `density`), and the device hardware /
        Agent-reported `capabilities`.

        This is distinct from `GET /api/v1/instances/{id}/mobile`
        (`ControlInfo`): `/mobile` is the synchronous **control plane** and
        reports *live* geometry + reachability via the control channel,
        whereas `/device/info` is the **registered/static** device snapshot
        and can be read even when the device is offline (cached static
        info is returned). Returns 404 if the instance does not exist or is
        not owned by the caller.
      responses:
        "200":
          description: Standard envelope; `data` is a `DeviceInfoDTO`.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/DeviceInfoDTO' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "503": { $ref: '#/components/responses/ServerError' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Files (P1-A — presign upload + resolve via Runtime FileService)
  # ---------------------------------------------------------------------
  /api/v1/files/presign-upload:
    post:
      operationId: presignFileUpload
      tags: [files]
      summary: Request a presigned upload URL.
      description: |
        Returns a single-use presigned PUT URL the client uses to upload
        directly to BeeOS-managed object storage (S3 / MinIO in production,
        local disk in dev). The returned `file_id` is stable and can be
        attached to subsequent `POST /agents/{agentId}/invoke` /
        `POST /agents/{agentId}/tasks` bodies via the `attachments[].file_id`
        field — see [docs/guides/calling-agents.md](../../docs/guides/calling-agents.md)
        for an end-to-end example.

        Files are scoped to the authenticated user; there is no list endpoint
        — callers must remember their own `file_id` values (the recommended
        workflow is to inline them into the invoke / task body that needs
        them immediately after upload).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignUploadRequest'
      responses:
        "200":
          description: Presigned URL issued.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/PresignUploadResponse' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/files/{id}:
    get:
      operationId: getFile
      tags: [files]
      summary: Resolve a file_id to metadata + presigned download URL.
      description: |
        Returns the filename / content-type / size of a previously uploaded
        file along with a presigned GET URL (TTL set by the storage
        backend, typically 24h on S3). Agents receive the same URL when
        the file is attached to an invoke / task envelope; this endpoint
        exists so callers can fetch their own uploads back without going
        through an agent.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, maxLength: 128 }
      responses:
        "200":
          description: File metadata.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessEnvelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/FileMetaResponse' }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Agents
  # ---------------------------------------------------------------------
  /api/v1/agents:
    get:
      operationId: listAgents
      tags: [agents]
      summary: List agents owned by the caller.
      parameters:
        - name: instance_id
          in: query
          required: false
          schema: { type: string, maxLength: 128 }
          description: Filter agents by instance ID.
        - name: instanceId
          in: query
          required: false
          schema: { type: string, maxLength: 128 }
          description: CamelCase alias for `instance_id`.
        - name: status
          in: query
          required: false
          schema: { type: string }
          description: Filter agents by runtime/directory status, for example `active`.
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int32, default: 20 }
        - name: offset
          in: query
          required: false
          schema: { type: integer, format: int32, default: 0 }
      responses:
        "200":
          description: Paginated list of agents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentListResponse'
              examples:
                empty:
                  summary: No agents yet
                  value:
                    success: true
                    data: []
                    total: 0
                single:
                  summary: One agent
                  value:
                    success: true
                    data:
                      - id: "agent_abc123"
                        instanceId: "instance_xyz"
                        name: "summariser"
                        status: "active"
                        visibility: "private"
                        mcpEnabled: false
                        capabilities:
                          multipleConversations: false
                          loadConversation: false
                          createConversation: false
                          canvas: false
                          terminal: false
                          webSsh: false
                          fileSystem: false
                          image: true
                          audio: false
                          mcp: false
                          cron: false
                          streaming: true
                          pushNotifications: false
                          a2a: true
                          extendedAgentCard: false
                          modelsList: true
                          modelsSet: true
                          skillsList: true
                          skillsInstall: false
                          skillsUninstall: false
                          skillsUpdate: false
                        conversationTransport: "acp"
                        createdAt: "2026-05-14T18:00:00Z"
                        updatedAt: "2026-05-14T18:00:00Z"
                    total: 1
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getAgent
      tags: [agents]
      summary: Get an owned agent by ID.
      responses:
        "200":
          description: Agent details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    patch:
      operationId: updateAgent
      tags: [agents]
      summary: Update mutable agent fields (visibility / mcpEnabled).
      description: |
        Patch a narrow set of caller-managed agent properties. The
        whitelist is intentionally minimal — `description`, `name`,
        `version`, `avatar_url`, `capabilities`, and `skills` are
        reconciled from the pod-side `POST /api/v1/agents/sync` and
        would silently revert on the next sync if patched here.

        Authorisation: caller MUST own the agent. Public discovery uses the
        agent-card endpoints; this management resource never bypasses owner
        scope. Patches with no recognised fields fail with
        `invalid_param`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentRequest'
      responses:
        "200":
          description: Updated agent details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    delete:
      operationId: deleteAgent
      tags: [agents]
      summary: Request deletion of an owned agent.
      description: |
        This compatibility endpoint deliberately fails closed with `409`.
        It verifies ownership but does not delete data until the durable
        runtime `agent/delete` projection path is wired. It therefore has
        no successful response by design.
      responses:
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/invoke:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: invokeAgent
      tags: [agents]
      summary: Send a message to an agent and receive a reply (sync / SSE).
      description: |
        Sends a `chat_message` to the specified agent via Message Service
        channel-primitives and blocks until the agent replies (or times out).

        For streaming responses, set `Accept: text/event-stream` — the
        response body will be Server-Sent Events with `delta` and `done`
        event types. For async fire-and-forget invocations, use the `tasks`
        API instead.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvokeAgentRequest'
      responses:
        "200":
          description: |
            Blocking: JSON envelope with agent reply.
            Streaming (`Accept: text/event-stream`): SSE stream — see
            `InvokeEventStream` for the per-frame schema (`delta`,
            `error`, `done` types).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvokeAgentResponse'
              examples:
                shortReply:
                  summary: Synchronous reply
                  value:
                    success: true
                    data:
                      text: "BeeOS ships unified task core in 1.0.x. The release adds A2A v1.0 compatibility, slim A2A task schema, and chatinvoke as the canonical primitive."
                      context_id: "ch-uuid"
                      is_error: false
                agentReplyError:
                  summary: Agent in-band error (transport succeeded)
                  value:
                    success: true
                    data:
                      text: "I can't access that file — please re-upload it or check that you own it."
                      context_id: "ch-uuid"
                      is_error: true
            text/event-stream:
              schema:
                $ref: '#/components/schemas/InvokeEventStream'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Tasks (async, ADR-0017 canonical task core)
  # ---------------------------------------------------------------------
  /api/v1/agents/{agentId}/tasks:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: createTask
      tags: [tasks]
      summary: Submit an async task to an agent.
      description: |
        Creates a single-shot task channel and publishes the initial
        `chat_message` envelope, then returns 202 with the task_id. The agent
        reply lands asynchronously — callers either poll `GET /tasks/{taskId}`
        or subscribe to the SSE event stream at `GET /tasks/{taskId}/events`.

        The channel inherits the caller-supplied `deadline_ms` (capped at 7
        days server-side). If the deadline elapses before the agent produces a
        terminal message the task transitions to `timeout`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTaskRequest'
      responses:
        "202":
          description: Task accepted. Reply will land asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskCreatedResponse'
              examples:
                accepted:
                  summary: Task accepted
                  value:
                    success: true
                    data:
                      task_id: "ch-task-uuid"
                      agent_id: "agent-uuid"
                      status: "queued"
                      created_at: "2026-05-14T18:00:00Z"
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    get:
      operationId: listAgentTasks
      tags: [tasks]
      summary: List the caller's tasks for this agent.
      description: |
        Returns the caller's tasks against this agent, filtered server-side
        by participation (the caller's `user:<id>`) and client-side by
        `target_agent_id == {agentId}` AND `protocol == "openapi"` so the
        endpoint stays scoped to OpenAPI-created tasks (excludes conversations
        and other-protocol channels).

        Performance note: the wire DTO is INTENTIONALLY lightweight — it does
        NOT carry the derived `status` / `result` / `error` because computing
        those requires a per-task message-log scan (up to 1000 messages each
        inside `GetTask`). Callers that need the precise status follow up
        with `GET /tasks/{taskId}` per row, or subscribe to SSE
        `GET /tasks/{taskId}/events`.
      parameters:
        - name: state
          in: query
          required: false
          description: |
            Filter by channel state. `active` is the backward-compat wire
            alias for v2's `open`; `all` returns both. Default: `active`.
          schema:
            type: string
            enum: [active, open, closed, all]
            default: active
        - name: since
          in: query
          required: false
          description: Pagination cursor returned by the previous call (`next_since`).
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 1, maximum: 100 }
      responses:
        "200":
          description: Paged list of tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTasksResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/tasks:
    get:
      operationId: listUserTasks
      tags: [tasks]
      summary: List all of the caller's tasks across every agent.
      description: |
        Cross-agent task list (P2-B). Returns every task channel the
        caller owns, newest first — the unified "my tasks" view for
        SDKs that need to render a multi-agent inbox without
        fanning out per-agent.

        Same wire shape and `next_since` pagination as the
        per-agent variant at
        `GET /api/v1/agents/{agentId}/tasks`. Filtering an existing
        per-agent call is equivalent to passing `agent_id`
        explicitly.

        Authorization: the caller's `owner_id` is the only ACL
        gate. Tasks fan out across agents the caller has invoked,
        whether or not they still have visibility on those agents
        today — possession of the task row itself proves access at
        submit time.

        Only `protocol=openapi` channels surface here. Long-running
        conversations live at `GET /api/v1/agents/{agentId}/conversations`
        and are not mixed in to keep status semantics stable (tasks
        have a deadline; conversations don't).
      parameters:
        - name: agent_id
          in: query
          required: false
          description: |
            Narrow the result to a single agent. Equivalent to
            calling `GET /agents/{agentId}/tasks` directly; kept on
            this endpoint so callers can collapse their pagination
            logic across the "all agents" and "single agent" paths.
          schema: { type: string, maxLength: 128 }
        - name: instance_id
          in: query
          required: false
          description: |
            Narrow the result to tasks running on a specific instance
            (across any agent on that instance). Combine with
            `state=open` to answer "is this instance currently running
            a task?" — a non-empty result means busy. Device control
            commands (computer / mobile) are NOT counted here.
          schema: { type: string, maxLength: 128 }
        - name: state
          in: query
          required: false
          description: |
            Filter by channel state. `active` is the legacy wire
            alias for v2's `open`; `all` returns both. Default:
            `active`.
          schema:
            type: string
            enum: [active, open, closed, all]
            default: active
        - name: since
          in: query
          required: false
          description: Opaque pagination cursor from the previous page's `next_since`.
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: Paged list of tasks across all agents.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTasksResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/tasks/{taskId}:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getTask
      tags: [tasks]
      summary: Get a task's current state snapshot.
      description: |
        Returns the snapshot derived by `msgderive` from the task's
        channel-message log — safe to call at any cadence; the resolver is a
        pure function and terminal states short-circuit polling loops.
      responses:
        "200":
          description: Current task snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
              examples:
                running:
                  summary: Task still running
                  value:
                    success: true
                    data:
                      task_id: "ch-task-uuid"
                      agent_id: "agent_abc123"
                      status: "running"
                      created_at: "2026-05-14T18:00:00Z"
                      started_at: "2026-05-14T18:00:42Z"
                completed:
                  summary: Task terminal — success
                  value:
                    success: true
                    data:
                      task_id: "ch-task-uuid"
                      agent_id: "agent_abc123"
                      status: "completed"
                      result: "Indexed 312 pages."
                      created_at: "2026-05-14T18:00:00Z"
                      completed_at: "2026-05-14T18:05:00Z"
                failed:
                  summary: Task terminal — failure
                  value:
                    success: true
                    data:
                      task_id: "ch-task-uuid"
                      agent_id: "agent_abc123"
                      status: "failed"
                      error: "missing credentials for upstream Drive API"
                      created_at: "2026-05-14T18:00:00Z"
                      completed_at: "2026-05-14T18:00:09Z"
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/tasks/{taskId}/messages:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: listTaskMessages
      tags: [tasks]
      summary: List the persisted message log for a task (paged by offset).
      description: |
        Returns the channel-message log for a task — `chat_message`,
        `agent_reply`, `chat_cancel`, `user.continue`, etc. By default
        EXCLUDES ephemeral streaming chunks (`agent_reply_delta`,
        `agent_thought_chunk`, `agent_message_chunk`); set
        `include_deltas=true` to receive them. `latest_offset` always
        reflects the true server-side max offset so resuming with
        `since=<latest_offset>` is safe regardless of the filter.

        Same wire shape as `GET /conversations/{convId}/messages` because
        a task's `task_id` IS the underlying conversation_id (a task is
        just a single-shot channel with a deadline).

        Auth path is intentionally cheaper than `getTask` (one MS
        `GetConversation` + metadata check, no full message-log scan)
        so paged reads stay O(1)-per-page in auth cost.
      parameters:
        - name: since
          in: query
          required: false
          description: |
            Return messages with `offset` > `since`. Combine with `limit` for
            paginated reads. Default is 0 (start of task log).
          schema: { type: integer, format: int64, minimum: 0 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 1, maximum: 500 }
        - name: include_deltas
          in: query
          required: false
          description: |
            When `true`, include ephemeral streaming chunk rows
            (`agent_reply_delta`, `agent_thought_chunk`,
            `agent_message_chunk`) in the response. Default `false`.
            Accepts `true|1|yes` (case-insensitive); any other value
            is treated as `false`.
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Page of messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/tasks/{taskId}/events:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: since
        in: query
        required: false
        description: |
          Replay cursor. Matches the `offset` field on the last received
          event — clients persist this value and pass it back on
          reconnect to resume without gaps or duplicates (Last-Event-ID
          semantics; the wire spelling stays `since` for backward
          compatibility with the pre-v2 SSE clients).

          Special values:
          * omitted / `0`  — full history replay (per MS `Subscribe`
            contract). Useful for late-attaching SSE clients that want
            the full task transcript.
          * `<offset>`     — resume strictly AFTER the given offset.
            The first event the client receives has `offset` > since.

          The wire contract guarantees that the `offset` field on
          emitted events is **strictly monotonically increasing per
          channel** but is **NOT guaranteed contiguous** (ADR-0022
          §1.2). A producer-side storage failure may leave a small
          hole — e.g. you may observe `... 40, 42, ...` with `41`
          missing. Clients MUST treat `offset > since` as the resume
          invariant, never `offset == since + 1`. Per ADR-0022 the
          retention window is 24 h after last-touch (durable rows) and
          24 h or 10 000 entries (ephemeral chunk stream, whichever is
          tighter); outside that window SSE replies with a
          `backfill_truncated` frame before resuming.
        schema: { type: integer, format: int64, minimum: 0 }
    get:
      operationId: streamTaskEvents
      tags: [tasks]
      summary: Subscribe to a task's event stream (SSE).
      description: |
        SSE proxy onto the underlying MS conversation. Each event is `message`
        (JSON payload mirroring the on-channel envelope: `type`, `message_id`,
        `offset`, `in_reply_to`, `publisher_id`, `payload`, `created_at`).

        The stream auto-closes when the channel reaches a terminal envelope
        (`agent_reply` / `agent_reply_error`) — clients should release the
        connection on the synthesized `end` event.
      responses:
        "200":
          description: SSE stream of channel-message envelopes.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/TaskEventStream'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/tasks/{taskId}/cancel:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: cancelTask
      tags: [tasks]
      summary: Cancel an in-flight task.
      description: |
        Emits a `chat_cancel` envelope so the agent can abort its in-flight
        turn cleanly, then closes the channel with `reason=canceled`.
        Idempotent — re-issuing cancel on an already-canceled task is a no-op
        and still returns the snapshot.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelTaskRequest'
      responses:
        "200":
          description: Post-cancel task snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/tasks/{taskId}/continue:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: continueTask
      tags: [tasks]
      summary: Resume a task from input_required / auth_required.
      description: |
        Publishes a `user.continue` (or `user.auth_grant` when `auth_grant=true`)
        envelope so the agent can resume from a paused
        `input_required` / `auth_required` state. Returns the snapshot AFTER
        the envelope is published — typically `running`, or still
        `input_required` if the agent hasn't processed the resume yet.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContinueTaskRequest'
      responses:
        "200":
          description: Post-continue task snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Conversations (long-lived multi-turn dialogs)
  # ---------------------------------------------------------------------
  /api/v1/agents/{agentId}/conversations:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: createConversation
      tags: [conversations]
      parameters:
        - { name: Idempotency-Key, in: header, required: false, schema: { type: string, minLength: 1, maxLength: 128 } }
      summary: Open a new conversation.
      description: |
        Creates a long-lived dialog channel. Does NOT carry an initial
        message — callers post the first `chat_message` via
        `POST /conversations/{convId}/messages` once the conversation exists.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConversationRequest'
      responses:
        "201":
          description: Conversation created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    get:
      operationId: listConversations
      tags: [conversations]
      summary: List conversations for the calling user against this agent.
      description: |
        Returns long-lived dialog channels explicitly created via
        `POST /agents/{agentId}/conversations`. **Synchronous one-shot
        `POST /agents/{agentId}/invoke` calls do NOT appear here** —
        they create short-lived `protocol=openapi` task channels that
        surface under `GET /agents/{agentId}/tasks` and
        `GET /tasks` instead. Mixing the two would conflate "long
        dialog" with "single RPC call" and is intentionally avoided so
        list semantics stay stable per channel kind.

        If `GET /conversations` returns an empty list immediately after
        an `invoke`, that is expected: call `GET /tasks` for the task
        channel record, or pre-create a conversation with `POST
        /conversations` and post messages into it explicitly.
      parameters:
        - name: state
          in: query
          required: false
          description: |
            Filter by conversation state. `active` is a backward-compat
            wire alias for v2's `open` — both return non-closed
            conversations. `all` returns both open and closed.
            Default: `active`.
          schema:
            type: string
            enum: [active, open, closed, all]
            default: active
        - name: since
          in: query
          required: false
          description: Pagination cursor returned by the previous call (`next_since`).
          schema: { type: string }
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 1, maximum: 100 }
      responses:
        "200":
          description: Paged list of conversations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConversationsResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/conversations/{convId}:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: convId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: getConversation
      tags: [conversations]
      summary: Get a single conversation's metadata.
      responses:
        "200":
          description: Conversation snapshot.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    patch:
      operationId: renameConversation
      tags: [conversations]
      summary: Rename a conversation through Message Service metadata authority.
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 1, maxLength: 128 } }
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: false, required: [title], properties: { title: { type: string, minLength: 1, maxLength: 256 } } } } }
      responses:
        "200": { description: Renamed conversation snapshot, content: { application/json: { schema: { $ref: '#/components/schemas/ConversationResponse' } } } }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
    delete:
      operationId: deleteConversation
      tags: [conversations]
      summary: Close a conversation.
      description: |
        Closes the underlying MS channel. After close, no further messages
        can be posted but historical messages remain readable via
        `GET /messages`.
      responses:
        "204":
          description: Conversation closed.
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/conversations/{convId}/messages:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: convId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: sendConversationMessage
      tags: [conversations]
      summary: Post a new caller message into the conversation.
      description: |
        Non-blocking — returns 202 with the persisted `message_id`. The agent
        reply lands later via the SSE `/events` stream or a follow-up
        `GET /messages?since=<offset>`. Conversations have no per-turn
        timeout; use `tasks` when you need a bounded reply window.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        "202":
          description: Message persisted; agent reply will arrive asynchronously.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "413": { $ref: '#/components/responses/PayloadTooLarge' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    get:
      operationId: listConversationMessages
      tags: [conversations]
      summary: List messages in a conversation (paged by offset).
      description: |
        Returns the durable conversation log. By default the response
        EXCLUDES ephemeral streaming chunks (`agent_reply_delta`,
        `agent_thought_chunk`, `agent_message_chunk`) — only finalized
        turns and tool messages are returned, so UIs render a clean
        transcript without pagination blowing up on token-level chunks.

        Set `include_deltas=true` to also receive the per-token chunks
        (only present when an in-flight turn is still streaming). Note
        that `latest_offset` ALWAYS reflects the true server-side max
        offset across both filtered and unfiltered rows, so resuming
        with `since=<latest_offset>` is safe regardless of the filter.

        SSE `/events` is unaffected by this filter — live consumers
        receive every envelope including deltas as they happen.
      parameters:
        - name: since
          in: query
          required: false
          description: |
            Return messages with offset > `since`. Combine with `limit` for
            paginated reads. Default is 0 (start of conversation).
          schema: { type: integer, format: int64, minimum: 0 }
        - name: limit
          in: query
          required: false
          schema: { type: integer, format: int32, minimum: 1, maximum: 200 }
        - name: include_deltas
          in: query
          required: false
          description: |
            When `true`, include ephemeral streaming chunk rows
            (`agent_reply_delta`, `agent_thought_chunk`,
            `agent_message_chunk`) in the response. Default `false`.
            Accepts `true|1|yes` (case-insensitive); any other value
            is treated as `false`.
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Page of messages.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  # ---------------------------------------------------------------------
  # Webhooks (task push notifications — ADR-0017 D4)
  # ---------------------------------------------------------------------
  /api/v1/agents/{agentId}/tasks/{taskId}/webhooks:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: registerTaskWebhook
      tags: [tasks]
      summary: Register a webhook callback for terminal task events.
      description: |
        Subscribes a caller-supplied HTTPS endpoint to receive POST
        callbacks when the task reaches a terminal state (`completed` /
        `failed` / `canceled` / `timeout` / `rejected`). Idempotent on
        `(task_id, url)` — re-registering the same URL updates the token.

        Implementation note: openapi-gateway is zero-DB; the underlying
        subscription is stored by A2A Service in its `webhooks` table.
        The webhook fires regardless of which protocol created the task
        (OpenAPI / A2A / MCP) — same row, different `protocol_filter`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterTaskWebhookRequest'
      responses:
        "201":
          description: Webhook registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskWebhookResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }
    get:
      operationId: listTaskWebhooks
      tags: [tasks]
      summary: List registered webhooks for a task.
      responses:
        "200":
          description: Webhook list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTaskWebhooksResponse'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/tasks/{taskId}/webhooks/{webhookId}:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: webhookId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    delete:
      operationId: deleteTaskWebhook
      tags: [tasks]
      summary: Unsubscribe a webhook.
      responses:
        "204":
          description: Webhook removed.
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/tasks/{taskId}/webhooks/{webhookId}/deliveries:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: webhookId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    get:
      operationId: listWebhookDeliveries
      tags: [tasks]
      summary: List webhook delivery attempts (audit log).
      description: |
        Returns the most recent per-attempt rows for this webhook
        subscription, newest first. P2-A — durable delivery audit
        log + retry queue.

        Each row carries the lifecycle status (`pending` /
        `succeeded` / `failed` / `dead_letter`), the most recent
        HTTP status code, the truncated last error, and the
        scheduled time of the next attempt while the row is still
        in-flight. Sensitive fields — the rendered payload bytes,
        the optional bearer `token`, and the HMAC `secret` — are
        NEVER returned.

        Use this endpoint when:
          * a callback didn't arrive and you need to confirm
            whether BeeOS attempted it (`status=failed` /
            `dead_letter` with a populated `last_error`);
          * you're reconciling a missed webhook against
            `GET /tasks/{id}` and want a definitive audit trail;
          * you intend to manually replay a dead-lettered row via
            `POST .../redeliver`.
      parameters:
        - name: limit
          in: query
          required: false
          description: |
            Maximum number of delivery rows to return. Clamped to
            [1, 200]; default 50.
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: List of recent delivery attempts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebhookDeliveriesResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/tasks/{taskId}/webhooks/{webhookId}/deliveries/{deliveryId}/redeliver:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: taskId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: webhookId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: deliveryId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
    post:
      operationId: redeliverWebhook
      tags: [tasks]
      summary: Manually replay a webhook delivery.
      description: |
        Clones a terminal-failure or dead-lettered delivery row
        into a fresh `pending` row that the background dispatcher
        will pick up on its next poll. The original row is
        preserved for audit. The returned `WebhookDeliveryResponse`
        is the new pending row — poll the delivery list or watch
        the callback URL itself to observe outcome.

        The source row MUST be in status `failed` or
        `dead_letter`; replaying `pending` or `succeeded` rows
        returns `409 conflict` with code
        `conflict.invalid_state`. The clone replays the EXACT
        payload bytes the receiver should have seen the first
        time — HMAC signatures, headers, body — so receivers can
        treat redeliver attempts identically to original
        attempts.

        Caveat: each redeliver call enqueues a NEW pending row,
        so repeated clicks produce repeated deliveries. This
        endpoint is for manual rescue, not for caller-side
        retry-on-network-error.
      responses:
        "202":
          description: Replay enqueued. Returns the new pending row.
          content:
            application/json:
              schema:
                type: object
                required: [success, data]
                properties:
                  success: { type: boolean, enum: [true] }
                  data:
                    $ref: '#/components/schemas/WebhookDeliveryResponse'
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/conversations/{convId}/events:
    parameters:
      - name: agentId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: convId
        in: path
        required: true
        schema: { type: string, maxLength: 128 }
      - name: since
        in: query
        required: false
        description: |
          Replay cursor. Matches the `offset` field on the last
          received event — clients persist this value and pass it back
          on reconnect to resume without gaps or duplicates
          (Last-Event-ID semantics; the wire spelling stays `since`
          for backward compatibility with the pre-v2 SSE clients).

          Special values:
          * omitted / `0`  — full history replay.
          * `<offset>`     — resume strictly AFTER the given offset.

          Unlike the task variant, this stream never auto-closes on
          a terminal envelope — conversations stay open across many
          turns and emit further `agent_reply` events. Persist `since`
          across reconnect ranges to avoid dropping turns during
          network blips.
        schema: { type: integer, format: int64, minimum: 0 }
    get:
      operationId: streamConversationEvents
      tags: [conversations]
      summary: SSE stream of new messages on the conversation.
      description: |
        Same wire format as `tasks/{taskId}/events`. Unlike the task variant,
        the conversation event stream does NOT auto-close on agent reply —
        it stays open until the caller disconnects or the conversation is
        closed via `DELETE /conversations/{convId}`.
      responses:
        "200":
          description: SSE stream of channel-message envelopes.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/TaskEventStream'
        "401": { $ref: '#/components/responses/Unauthorized' }
        "403": { $ref: '#/components/responses/Forbidden' }
        "404": { $ref: '#/components/responses/NotFound' }
        "429": { $ref: '#/components/responses/RateLimited' }
        "5XX": { $ref: '#/components/responses/ServerError' }

  /api/v1/agents/{agentId}/conversations/{conversationId}/cancel:
    parameters:
      - { name: agentId, in: path, required: true, schema: { type: string, maxLength: 128 } }
      - { name: conversationId, in: path, required: true, schema: { type: string, maxLength: 128 } }
    post:
      operationId: cancelConversation
      summary: Cancel conversation execution
      tags: [conversations]
      parameters:
        - { name: Idempotency-Key, in: header, required: false, schema: { type: string, minLength: 1, maxLength: 128 } }
        - { name: X-BeeOS-Operation-Id, in: header, required: false, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: false, required: [target_message_id], properties: { target_message_id: { type: string, minLength: 1, maxLength: 128 }, reason: { type: string } } } } }
      responses:
        "202": { description: Durable session/cancel operation accepted, headers: { X-BeeOS-Operation-Id: { required: true, schema: { type: string, format: uuid } } }, content: { application/json: { schema: { type: object, additionalProperties: false, required: [success, data], properties: { success: { type: boolean, const: true }, data: { type: object, additionalProperties: false, required: [operation_id, status], properties: { operation_id: { type: string, format: uuid }, status: { type: string, const: accepted } } } } } } } }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }

  /api/v1/agents/{agentId}/conversations/{conversationId}/clear:
    parameters:
      - { name: agentId, in: path, required: true, schema: { type: string, maxLength: 128 } }
      - { name: conversationId, in: path, required: true, schema: { type: string, maxLength: 128 } }
    post:
      operationId: clearConversation
      summary: Clear conversation history
      tags: [conversations]
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 1, maxLength: 128 } }
        - { name: X-BeeOS-Operation-Id, in: header, required: false, schema: { type: string, format: uuid } }
      responses:
        "202": { description: Durable conversation clear accepted, headers: { X-BeeOS-Operation-Id: { schema: { type: string, format: uuid } } }, content: { application/json: { schema: { type: object, required: [status, operationId, conversationId, currentGeneration], additionalProperties: false, properties: { status: { type: string, enum: [accepted] }, operationId: { type: string, format: uuid }, conversationId: { type: string }, currentGeneration: { type: string, pattern: '^(0|[1-9][0-9]*)$' } } } } } }
        "400": { $ref: '#/components/responses/BadRequest' }
        "401": { $ref: '#/components/responses/Unauthorized' }
        "404": { $ref: '#/components/responses/NotFound' }
        "409": { $ref: '#/components/responses/Conflict' }

  /api/v1/agents/{agentId}/conversations/{conversationId}/model:
    parameters:
      - { name: agentId, in: path, required: true, schema: { type: string, maxLength: 128 } }
      - { name: conversationId, in: path, required: true, schema: { type: string, maxLength: 128 } }
    put:
      operationId: setConversationModel
      summary: Set conversation model override
      tags: [conversations]
      parameters:
        - { name: Idempotency-Key, in: header, required: true, schema: { type: string, minLength: 1, maxLength: 128 } }
        - { name: X-BeeOS-Operation-Id, in: header, required: false, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, additionalProperties: false, required: [modelOverrideId], properties: { modelOverrideId: { type: [string, 'null'], minLength: 1, maxLength: 128 } } } } }
      responses:
[...]
